#education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-container {
    width: 80%;
    background-color: #251245;
    margin-top: 3rem;
    padding: 3em;
    border-radius: 2em;
    border: 2px solid #7127BA;
    box-shadow: 0 0 2px #7127BA;
}

.edu-topics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
}

.edu-top-area {
    display: flex;
    justify-content: space-between;
}

.edu-course {
    margin: 0;
    color: white;
    font-size: 2.4rem;
}

.edu-major {
    color: #A45FE0;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.date {
    font-size: 1.4em;
    color: white;
    padding: 0.5em 1em;
    background-color: #3A1E68;
    border: 1px solid #7127BA;
    border-radius: 2em;
    white-space: nowrap;
    margin-left: 1rem;
}

.edu-exp {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.coursework {
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.subject-align {
    background-color: #3A1E68;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    transition: 0.3s ease;
    border: 1px solid #7127BA;
}

.subject-align:hover {
    border: 1px solid #A45FE0;
}

.arrow-down-main-three {
    display: flex;
    justify-content: center;
}

.arrow-down-three {
    margin-top: 38px;
    width: 20px;
}


@media (max-width: 600px) {

    .education-container {
        width: 65vw;
    }

    .edu-topics {
        grid-template-columns: 1fr;
    }

    .date {
        font-size: 1em;
    }

}

@media (min-width: 601px) and (max-width: 1024px) {

    .education-container {
        width: 70vw;
    }

    .date {
        font-size: 1em;
    }
}
