#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-img {
    width: 18rem;
    height: 18rem;
    border-radius: 100px;
    box-shadow: 0 0 3.5rem #7127BA;
    margin-top: 5rem;
}

.head-dl {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
}

.head-email {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #7127BA;
}

.home-name-main {
    display: flex;
    justify-content: center;    
}

.home-name {
    font-size: 7rem;
    margin-top: .4em;
    margin-bottom: 0;
    color: white;
    text-align-last: center ;
    white-space: nowrap;
}

.home-name-span {
    color: #8A3DD0;
}

.home-name-text {
    font-size: 2.2rem;
    text-align-last: center;
    color: #E2C6F7;
    margin: 2rem ;
    text-align: justify;
    
}

.home-name-text-span {
    color: #8A3DD0;
}

.resume-and-email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.home-buttons {
    background-color: transparent;
    border: none;
    color: white;
    font-family: Montserrat;
    cursor: pointer;
}

.download-resume {
    display: flex;
    align-items: center;
    background-color: #7127BA;
    width: fit-content;
    padding: .8em 2em;
    border-radius: 0.8em;
    transition: transform 0.5s ease;
}

.send-email-main {
    display: flex;
    align-items: center;
    background-color: white;
    width: fit-content;
    padding: 1em 2em;
    border-radius: 0.8em;
    color: #7127BA;
    border: 1px solid #7127BA;
    transition: transform 0.5s ease;
}

.download-icon,.email-icon {
    width: 2rem;
    height: 2rem;
}

.email-icon-area {
    display: flex;
    align-items: center;
}

.dl-resume, .send-email{
    margin-left: 1em;
}

.arrow-down-main {
    display: flex;
    justify-content: center;
}

.arrow-down {
    width: 2em;
    margin-top: 10em;
}

.home-buttons:hover .download-resume, 
.home-buttons:hover .send-email-main {
    transform: translateY(-2px);
    box-shadow: 0 1px 4px #c18bea83 ;
}


@media (max-width: 600px) {

    .home-name {
        font-size: 3.5rem;
    }

    .resume-and-email {
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
    }
}
