html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    scroll-padding-top: 70px;
}

body {
    margin: 0;
    font-family: Montserrat, Roboto, Arial, Helvetica;
    background-color: #11071F;
    color: #E2C6F7;
    margin-top: 7rem;
}

p {
    margin: 0;
    font-size: 1.6rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    height: 7rem;
    background-color: #1A0B2E;
    box-shadow: 0 0 2px #E2C6F7;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    opacity: 0.991;
}

.nav-name {
    font-weight: bold;
    font-size: 2.2em;
    margin-left: 2.5em;
    color: #8A3DD0;
}

.nav-button-area {
    margin-right: 5rem;
}

.nav-button {
    text-decoration: none;
    color: #E2C6F7;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 1.5rem 1.5rem;
}

section {
    padding-bottom: 2em;
}


#about, #projects, #education, footer {
    background-color: #1A0B2E;
}


.nav-button:hover {
    color: #8A3DD0;
}

.top-area {
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-area-title {
    color: #C18BEA;
    background-color: #251245;
    padding: .4em 1.5em;
    border-radius: 10em;
    border: 1px solid #C18BEA;
    transition: 0.15s ease;
    font-size: 1.3rem;
}

.top-area-title:hover {
    background-color: #2F1854;
}

.bot-text-area {
    display: flex;
    justify-content: center;
}

.bot-text {
    text-align: justify;
    font-size: 2.2rem;
    max-width: 80%;
    text-align-last: center;
}

footer {
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-top: 50px;
}

.foot {
    font-size: 1.6rem;
}

.footer-nav a,
.footer-social a {  
    color: #ccc;
    margin: 1rem;
    text-decoration: none;
    font-size: 1.4rem;
}

.footer-nav a:hover,
.footer-social a:hover {
    color: #fff;
}
