#skills {
    display: flex;
    flex-direction: column;
    color: #E2C6F7;
    align-items: center;
}

.skills-bottom-area {
    width: 80%;
    background-color: #1A0B2E;
    padding: 4em;
    border-radius: 2em;
    border: 1px solid #2F1854;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px #7127BA;
}

.inside-title {
    margin: 0;
    margin-bottom: 1.5em;
    color: white;
    font-size: 2.4rem;
}

.bottom-bot-area {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
}

.language-container {
    background-color: #251245;
    padding: 2em;
    font-weight: 600;
    border-radius: 1em;
    border: 1px solid #2F1854;
    color: white;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
}

.languages {
    font-size: 1.6rem;
}

#html-id {
    margin-left: 0.1rem;
    margin-right: 1.9rem;
}

.icon-area {
    display: flex;
    align-items: center;
}

.language-icon {
    width: 2rem;
    margin-right: 2rem;
}

.language-container:hover {
    border: 1px solid #3A1E68;
    background-color: #2F1854;
    transform: translateY(-.3rem);
    box-shadow: 0 1px 5px #c18bea44 ;
}

.arrow-down-main-two {
    display: flex;
    justify-content: center;
}

.arrow-down-two {
    margin-top: 8rem;
    width: 2rem;
}

@media (max-width: 600px) {
    .bottom-bot-area {
        grid-template-columns: 1fr;
    }
    .skills-bottom-area {
        width: 60%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {

    .skills-bottom-area {
        width: 70%;
    }
}
